* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Arabic";
  src: url(./MadaniArabicRegular.ttf);
}

@supports (-webkit-touch-callout: none) {
  .text {
    top: 0;
  }
}

@supports not (-webkit-touch-callout: none) {
  .text {
    top: -2px;
  }
}

body {
  font-family: "Arabic";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text {
  background-color: rgb(65, 65, 65);
  font-size: 40px;
  color: aliceblue;
  position: relative;
}
